
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
	<div class="main-page">
		<div class="col_3">
			<div class="col-md-3 widget widget1">
				<div class="r3_counter_box">
					<i class="pull-left fa fa-bars icon-rounded"></i>
					<div class="stats">
						<h5><strong>@ViewBag.category</strong></h5>
						<span>Ümumi Kateqoriya sayı</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 widget widget1">
				<div class="r3_counter_box">
					<i class="pull-left fa fa-envelope user1 icon-rounded"></i>
					<div class="stats">
						<h5><strong>@ViewBag.message</strong></h5>
						<span>Ümumi Mesajların sayı</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 widget widget1">
				<div class="r3_counter_box">
					<i class="pull-left fa fa-shopping-cart user2 icon-rounded"></i>
					<div class="stats">
						<h5><strong>@ViewBag.products</strong></h5>
						<span>Ümumi Məhsul sayı</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 widget widget1">
				<div class="r3_counter_box">
					<i class="pull-left fa fa-sort-asc dollar1 icon-rounded"></i>
					<div class="stats">
						<h5><strong>@ViewBag.discountProduct</strong></h5>
						<span>Endirimli Məhsul sayı</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 widget">
				<div class="r3_counter_box">
					<i class="pull-left fa fa-sort-desc dollar2 icon-rounded"></i>
					<div class="stats">
						<h5><strong>@ViewBag.product</strong></h5>
						<span>Endirim Olmayan Məhsul sayı</span>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>

	</div>
</div>
